<div class="row">
  <div class="col-md-6">
    <h3>June 19 2018</h3>
    <table class="table table-striped">
      <tr> <td style="width: 80px">02:00</td>  <td style="text-align: left;"><a href="http://swcarpentry.github.io/shell-novice/">Automating tasks with the Unix shell</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>July 3 2018</h3>
    <table class="table table-striped">
      <tr> <td style="width: 80px">02:00</td>  <td style="text-align: left;"><a href="http://swcarpentry.github.io/git-novice/">Version control with Git</a></td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>July 17 2018</h3>
    <table class="table table-striped">
      <tr> <td style="width: 80px">02:00</td>  <td style="text-align: left;"><a href="http://swcarpentry.github.io/python-novice-inflammation/">Introduction to Python</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>NOTE</h3>
    <table class="table table-striped">
      <tr> <td style="width: 80px">all three</td>  <td style="text-align: left;">We will also draw on the material in the <a href="https://librarycarpentry.github.io/lc-data-intro/">Library Carpentry: Introduction to Data</a> module</td> </tr>
    </table>
  </div>
</div>
